<div class="center" align="center">
  <h5>Thank you for using WineLog</h5>


<button type="button" class="link_button"><%= link_to "Login", login_path %></button>

OR

<button type="button" class="link_button"><%= link_to "Signup", signup_path %></button>
</div>
