<div class="container">
  <div class="top-container">
    <h5 align="center"><b>Welcome to WINELOG</b></h5>
  </div>
  <div align="center">
    <p>WineLog was created to be a digital wine tasting card - a way for users to
      learn about wine, and what they do and don't like. The goal is to make the trip
      to the wine aisle easier, and help people find wines they will enjoy - instead of
      just picking highly rated ones.</p>

    <% unless logged_in?%>
      <br><br>
      <%= render 'layouts/login_signup' %>
    <% end %>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
