<h1>Welcome to WineLog</h1>

<div class="about">
  <p>Wine Log was created to be a digital wine tasting card - a way for users to
  learn about wine, and what they do and don't like. The goal is to make the trip to the wine
  aisle easier, and help people find wines they will enjoy - instead of just picking
  highly rated ones.</p>
</div>

<p><%= link_to "Login", login_path %></p>
<p><%= link_to "Signup", signup_path %></p>

<p><%= link_to "Aromas", aromas_path %></p>
<p><%= link_to "Glossary", glossary_path %></p>
