<div class="container">
  <div class="top-container">
    <h5 align="center"><b>Welcome to WINELOG</b></h5>
  </div>
  <div align="center">
    <p>WineLog was created to be a digital wine tasting card - a way for users to
      learn about wine, and what they do and don't like. The goal is to make the trip
      to the wine aisle easier, and help people find wines they will enjoy - instead of
      just picking highly rated ones.</p>

    <% unless logged_in?%>
      <br><br>
      <%= render 'layouts/login_signup' %>
    <% end %>
  </div>
</div>
