
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="please-work">

    </div>
  </div>
</div>

<form class="filter" id="type-filter">
    <div class="col-6">
      <%= label :wine_type, "Type:" %><br>
      <%= select_tag :wine_type,
        options_for_select(Wine::WINE_TYPES.map {|t| t}), id: "filter-by-type", placeholder: "Filter by Wine Type", class: "js-example-basic-single", multiple: false, include_blank: true%>
    </div>
  <input type="submit" value="Filter" id="filter-submit">
</form>



<div class="container">
  <div class="top-container">
  <h5 align="center"><b>All Wines</b></h5>
</div>
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for wines...">

<div class="table-responsive">
  <table class="u-full-width">
  <thead class="table-head">
    <tr>
      <th scope="col" style="padding-left: 40px">Producer</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
    </tr>
  </thead>
  <tbody id="wine-js" data-user-id="<%= @user.id %>">
        <!-- should show wines -->
  </tbody>
</table>
</div>
</div>
