
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="please-work">

    </div>
  </div>
</div>

<div class="container">
  <div class="top-container">
  <h5 align="center"><b>All Wines</b></h5>
</div>
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for wines...">

<div class="table-responsive">
  <table class="u-full-width">
  <thead class="table-head">
    <tr>
      <th scope="col" style="padding-left: 40px">Producer</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
    </tr>
  </thead>
  <tbody id="wine-js" data-user-id="<%= @user.id %>">
        <!-- should show wines -->
  </tbody>
</table>
</div>
</div>
