<div align="center">
  <p>Looks like you haven't added enough wines to your cellar to have any insights!</p>

  <p>As you rate more bottles and add aromas and tasting terms - we'll get a sense for your preferences.</p>

  <p>In short, keep drinking.</p>
</div>
