<div class="table-responsive">
  <table class="u-full-width">
  <thead class="table-head">
    <tr>
      <th scope="col" style="padding-left: 40px">Producer</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
    </tr>
  </thead>
  <tbody class="wine-table">
    <% object.each do |wine| %>
    <tr>
      <td style="padding-left: 40px"><%= link_to wine.producer, wine_path(wine), class:'black-link'%></td>
      <td><%= wine.wine_name %></td>
      <td><%= wine.vintage %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
