<div class="container">
<div class="top-container">
  <h5 align="center"><b><%= @user.user_name %>'s Wines</b></h5>
</div>

<%= render partial: 'users/table', locals: {object: @user.wines} %>

<%= render partial: 'users/table', locals: {object: @user.wines.is_favorite} %>



</div>
