<h1>Hello <%= @user.first_name %></h1>


<ul>
  <li>View cellar (view all wines)</li>
  <li>Make a new wine</li>
  <li>view insights (scope methods)</li>
  <li>update profile</li>
</ul>

<%=  link_to "Log out", logout_path %>
