<p style="color:#888" align="center">Sinatra portfolio project for the Flatiron School</p>

<div class="collection">
  <a style="color:#33C3F0" href="https://github.com/rachelkathleen/ParkFinder/tree/april1" class="collection-item">GitHub</a>
  <a style="color:#33C3F0" href="https://drive.google.com/open?id=1AFNIKso2AJRAZatkG4qXT43FCqvKTZP6" class="collection-item">Demo</a>
  <a style="color:#33C3F0" href="https://rachelkathleen.github.io/sinatra_portfolio_project_roundup" class="collection-item">Blog</a>
</div>


<p align="center"><a class="button button-primary" href="mailto:rachel.hawa@gmail.com?subject=sinatra-project-feedback">email me</a>
</p>
