<div class="container" id="aroma-container">
  <h5 align="center">List of Wine Aromas</h5>
  <br>
  <%= form_tag(aromas_path method: :get) do %>
    <%= render 'search' %>
  <% end %>
  <br>

  <input type="text" id="myInput" onkeyup="searchAromaFunction()" placeholder="Search">
  <dl id="aroma-list">
    <% @aromas.each do |a| %>
    <dt class='aromas'><%= a.aroma_name %></dt>
    <% end %>
  </dl>
</div>
