
<div class="container">
  <h5 align="center">Glossary of Wine Tasting Terms</h5>
  <br>
  <input type="text" id="myInput" onkeyup="searchGlossaryFunction()" placeholder="Search">
  <br>
  <dl id="term-list">
    <% @terms.each do |t| %>
    <div class="term">
      <dt><%= t.term %></dt>
      <dd><%= t.definition %></dd>
    </div>

      <% end %>
  </dl>
</div>
