<%# /countries %>
<div class="container" id="country-index">
  <h5 align="center">List of Wine Producing Countries</h5>
  <br>

  <input type="text" id="myInput" onkeyup="countrySearchFunction()" placeholder="Search for countries...">
  <br><br><div class="row">
  <div class="col-6">
    <dl id="list">

    </dl>
  </div>
  <div class="col-6">
    <div id="wines">
      <!-- should display wines when a country is clicked -->
    </div>
  </div>
  </div>
</div>
