
<div class="container" id="country-index">
  <h5 align="center">List of Wine Producing Countries</h5>
  <br>
  <%= form_tag(countries_path, method: :get) do %>
    <%= render '/learn/search' %>
  <% end %>
  <div class="row">
  <div class="col-6">
    <dl id="list">

    </dl>
  </div>
  <div class="col-6">
    <div id="wines">
      <ul>
        <li>a list of things</li>
        <li>to test html columns</li>
      </ul>
      <!-- should display wines when a country is clicked -->
    </div>
  </div>
  </div>
</div>
