
<div class="container" id="country-index">
  <h5 align="center">List of Wine Producing Countries</h5>
  <br>
  <%= form_tag(countries_path, method: :get) do %>
    <%= render '/learn/search' %>
  <% end %>
  <dl id="list">
    something
    </dl>
</div>
