/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Main purple:#47204B
Dark purple #220F24
Light purple #ECE8ED
Light gray #F3F3F3 */

* {
    font-family: Yeseva-one;
  }


.table-responsive {
  display: block;
  /* padding: 20px; */
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: center;
  border: 25px;
  border: 3px solid #220F24
}



.card {
  display: block;
  /* width: auto; */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: 25px;
  border: 3px solid #220F24;
}

.main-content {
  display: block;
  border-radius: 25px;
  /* border-radius: 3px solid #220F24; */
  padding: 20px;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: White;
  background-color: #220F24
}
.center {
  display: block;
  border: 3px solid #220F24;
  padding: 20px;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

.container {
  display: block;
  border: 3px solid #220F24;
  padding: 20px;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}



h3  {background-color: #F3F3F3;}


/* Background color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
 body {background-color: #ECE8ED;}
 div {background-color: #F3F3F3;}
 /* .form-row {background-color: #ECE8ED;}
 .col-auto {background-color: #ECE8ED;}
 .form-check {background-color: #ECE8ED;}
 .form-group {background-color: #ECE8ED;} */
 .center {background-color: #ECE8ED;}
 h4 {background-color: #ECE8ED;}
 .card-body {background-color: white;}

 /* Buttons
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
 .button.link_button,
 button,
 input[type="submit"],
 input[type="reset"],
 input[type="button"]
 input[type="create wine"] {
   display: inline-block;
   height: 38px;
   padding: 0 30px;
   text-align: center;
   font-weight: 600;
   line-height: 38px;
   text-decoration: none;
   white-space: nowrap;
   background-color: #220F24;
   border-radius: 4px;
   border: 1px solid #F3F3F3;
   cursor: pointer;
   box-sizing: border-box;
   color: white;
   link: white
  }

  .black-link {
    color: black; }
  .black-link:hover {
    color: #47204B; }
  a {
    color: #F3F3F3; }
  a:hover {
    color: white; }





  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .thead-dark,
  {
    background-color: #ECE8ED;
    cursor: pointer;

    color: ##ECE8ED;
    font-family: "Yeseva One"
   }
